---
import type { Post } from "../models/post"
import { springUrl } from "../globales"
import Options from "./icons/options.astro"

interface Props {
  post:Post
}

const {post} = Astro.props

// de cada post hay que hacer una petición para la comunidad a partir del id
const comunidad = await fetch(`${springUrl}/Comunidad/comunidad?id=${post.id_comunidad}`).then(res => res.json())

// calcular la distancia de tiempo desde la publicación
const tiempo = post.fecha_publicacion ? new Date(post.fecha_publicacion).getTime() : new Date().getTime()
// calcular el tiempo en horas
let horas = Math.floor((new Date().getTime() - tiempo) / 1000 / 60 / 60)
let minutos
let dias
// si las horas son 0 calcular los minutos
if(horas === 0) {
  minutos = Math.floor((new Date().getTime() - tiempo) / 1000 / 60)
}

// si las horas son 24 o mas calcular los días
if(horas >= 24) {
  dias = Math.floor(horas / 24)
}
---

<div class="mt-2 px-5 py-2 flex flex-col justify-center items-start w-full hover:bg-[#1A282D] cursor-pointer rounded-lg">
  <!-- título con la info... -->
  <div class="flex flex-row justify-between items-center w-full">
    <!-- comunidad -->
    <div class="flex flex-row justify-center items-center">
      <div class="w-8 h-8 rounded-full overflow-hidden mr-3">
        <img class="w-full h-full object-cover" src={comunidad.imagen} alt="">
      </div>

      <a href={`comunidad/${comunidad.id}`} class="text-lg font-bold text-[#B7C4C8] hover:text-blue-200">{comunidad.nombre}</a>
      <span class="text-sm ml-3 text-[#3A464A]">•</span>
      { 
        horas > 24 ?
        <span class="text-sm ml-3 text-[#3A464A]">Hace {dias} días</span> :
        horas > 0 ? 
        <span class="text-sm ml-3 text-[#3A464A]">Hace {horas} horas</span> : 
        <span class="text-sm ml-3 text-[#3A464A]">Hace {minutos} minutos</span>
      }
    </div>

    <!-- acciones  -->
    <div class="flex flex-row gap-x-2">
      <button class="bg-[#0045AC] hover:bg-[#517cc3] px-5 text-sm rounded-xl">
        Unirse
      </button>
      <button class="rounded-full p-1 hover:bg-[#212e32]">
        <Options></Options>
      </button>
    </div>
  </div>

  <!-- contenido -->
  <div class="text-white mt-5 flex flex-col justify-center items-start w-full">
    <h4 class="mb-2 ">{post.nombre}</h4>
    {
      post.imagen ?
        <img src={post.imagen} alt="">
      :
      <div></div>
    }
    <!-- comentarios y todo lo relativo -->
    <div class="flex flex-row justify-between items-center w-full">
      <div class="rounded-xl gap-x-2 flex justify-center items-center bg-[#1A282D] p-1 px-2">
        <!-- svg up -->
        <svg class="hover:text-red-500" fill="currentColor" height="16" icon-name="upvote-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg"> <!--?lit$575396668$--><!--?lit$575396668$--><path d="M12.877 19H7.123A1.125 1.125 0 0 1 6 17.877V11H2.126a1.114 1.114 0 0 1-1.007-.7 1.249 1.249 0 0 1 .171-1.343L9.166.368a1.128 1.128 0 0 1 1.668.004l7.872 8.581a1.25 1.25 0 0 1 .176 1.348 1.113 1.113 0 0 1-1.005.7H14v6.877A1.125 1.125 0 0 1 12.877 19ZM7.25 17.75h5.5v-8h4.934L10 1.31 2.258 9.75H7.25v8ZM2.227 9.784l-.012.016c.01-.006.014-.01.012-.016Z"></path><!--?--> </svg>
        {post.likes > 0 ? post.likes : ''}
        <!-- svg down -->
        <svg class="ml-1 hover:text-blue-500" fill="currentColor" height="16" icon-name="downvote-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg"> <!--?lit$575396668$--><!--?lit$575396668$--><path d="M10 20a1.122 1.122 0 0 1-.834-.372l-7.872-8.581A1.251 1.251 0 0 1 1.118 9.7 1.114 1.114 0 0 1 2.123 9H6V2.123A1.125 1.125 0 0 1 7.123 1h5.754A1.125 1.125 0 0 1 14 2.123V9h3.874a1.114 1.114 0 0 1 1.007.7 1.25 1.25 0 0 1-.171 1.345l-7.876 8.589A1.128 1.128 0 0 1 10 20Zm-7.684-9.75L10 18.69l7.741-8.44H12.75v-8h-5.5v8H2.316Zm15.469-.05c-.01 0-.014.007-.012.013l.012-.013Z"></path><!--?--> </svg>
      </div>
      <div>
        comentarios
      </div>
      <div>
        compartir
      </div>
    </div>
  
  <!-- shared likes... -->
</div>
